<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

  <appSettings>


    <add key="PingInterval" value="1"/>
    <add key="ResponseTimeout" value="1"/>


    <!--This variable define which protocol to use for ping-->
    <!--possible variables - ICMP,HTTP,TCP -->
    <add key="TypeProtocol" value="Http"/>


    <add key="Host" value="8.8.8.8"/>
    <add key="Port" value="443"/>

  </appSettings>

</configuration>